<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> List of All available Reviews</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<header>
		<h1>A List of All Tech Reviews</h1>
	</header>
	
	<main>
		<h1></h1>
			<ul th:each="review: ${reviewsModel}">
				<a href="|/show-reviews/${review.id}|"><li th:text="${review.id}">1</li></a>
				<li th:text="${review.title}">Title 1</li>
				<li th:text="${review.content}">Test Content</li>
			</ul>
		
	</main>

	<footer>
		<small>&copy; 2020 eReviews site </small>
	</footer>

</body>
</html>